/Adult_woman_dancing.jpg
/Adult_woman_dancing.json
/Adult_woman_dancing_scaled_to_girl_age_10.json
/Adult_woman_dancing_scaled_to_girl_age_10.png
/Adult_woman_dancing_scaled_to_girl_age_12.json
/Adult_woman_dancing_scaled_to_girl_age_12.png
/Adult_woman_dancing_scaled_to_girl_age_14.json
/Adult_woman_dancing_scaled_to_girl_age_14.png
/Adult_woman_dancing_scaled_to_girl_age_16.json
/Adult_woman_dancing_scaled_to_girl_age_16.png
/Adult_woman_dancing_scaled_to_girl_age_4
/Adult_woman_dancing_scaled_to_girl_age_4.json
/Adult_woman_dancing_scaled_to_girl_age_4.png
/Adult_woman_dancing_scaled_to_girl_age_6.json
/Adult_woman_dancing_scaled_to_girl_age_6.png
/Adult_woman_dancing_scaled_to_girl_age_8.json
/Adult_woman_dancing_scaled_to_girl_age_8.png
/example.py
/example1.py
/example2.py
/Female_10yo_standing_00001.json
/Female_10yo_standing_00001.png
/Female_10yo_standing_00001_f20.json
/Female_10yo_standing_00001_f20.png
/Female_adult_standing_00001.json
/Female_adult_standing_00001.png
/Female_adult_standing_00001_f04.json
/Female_adult_standing_00001_f04.png
/Female_adult_standing_00001_f04_adult_proportions.json
/Female_adult_standing_00001_f04_adult_proportions.png
/Female_adult_standing_00001_f08.json
/Female_adult_standing_00001_f08.png
/input.png
/output
/test.ipynb
/venv
/__pycache__